@model Application.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <h1>Top Music</h1>
        <h2>They need you</h2>
        <hr />
    </div>
    <div class="row">
        <h3>Populaires</h3>
        @foreach (var category in Model.Populaires)
        {
            @Html.Partial("_CategoryCard", category)
        }
        <hr />
    </div>
    <div class="row">
        <h3>Nouvelles</h3>
        @foreach (var category in Model.Nouvelles)
        {
            @Html.Partial("_CategoryCard", category)
        }
    </div>
</div>