@model Application.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<header id="head" class="secondary"></header>

<div class="container">
    <div class="row">

        <div class="col-sm-3">
            <h3>Category Name</h3>
            @foreach (var item in Model.Top)
            {
                <p>@item.Rank</p>
                <p>@item.AlbumDescription</p>
                <p>@item.NumberVotes votes</p>
            }
            <p></p>
        </div>
    </div>
</div>